h1{
  display: inline-block;
  color: red;
}

span{
  color: red;
}

.Netflix_Sign{
  color: red;
  font-size: 46px;
  position: relative;
  left: 40px;
  top: 10px;
  
}

.nav_dropdown{
  position: relative;
  left: 390px;
  padding: 2px 0;
}

.nav_Signin{
  margin-right: 10px;
  position: relative;
  right: 50px;
  padding: 8px 10px;
}